/* estilo para todos los elementos del tipo p*/
p {
    color: darkblue;
    background-color: crimson;
}

#idParrafo2 {
    color: lightblue;
}

.elegante {
    background-color: pink;
    color:blue;
}
